* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}

.bg-navbar {
    background-color: #4b6584;
}
.bg-footer {
    background-color: #a5b1c2;
}
.bg-content {
    background-color: #0fb9b1;
}